.profile-widget {
    .profile {
        background-repeat: no-repeat;
        height: 36px;
        width: 36px;
        z-index: 999;
        border-radius: 50%;
        background-size: cover;
        margin-right: 12px;
    }
}